name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      # Fetch entire Git history so Changesets can generate changelogs.
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          # Do not persist GITHUB_TOKEN.
          # Prevent personal access token GH_TOKEN from being overridden.
          persist-credentials: false
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: npm ci
      - uses: changesets/action@master
        with:
          version: npm run version
          publish: npm run release
          commit: Bump version
          title: Publish package to NPM
        env:
          # Use personal access token GH_TOKEN to trigger workflows with changesets/action.
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
